{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}





{% block content %}

<section>
      <h2>{{object.title}}</h2>
      <div class="section__container">
        <div class="section__texttile">
         <p class="title">About "{{object.title}}"</p>
          <p class="text">{{object.description}}</p>
        </div>
      
     
        <div class="section__texttile">
          <img
            src='{% static "images/sample.jpg" %}'
            alt="shop photo"
            class="shop-photo"
          />

            <ul class="list-group list-group-flush">
              <li class="list-group-item"><p class="title">Other details</p></li>
              <li class="list-group-item">Owner : {{object.owner.get_full_name}} </li>
              <li class="list-group-item">Price : {{object.price}} ({{object.average_service_time}})</li>
              <li class="list-group-item">{{object.address}} - {{object.district}} </li>
            </ul>
          <!-- <p class="content">{content}</p> -->
          <a href="/bookings/book/{{service.slug}}/" class="btn btn-primary primary-button content">Book</a>
        </div>
      </div>
</section>
{% endblock content %}
