
{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %} 

{% block content %} 
  <form method="get">
    <div class="row m-5">

      {% for filter_field in services_filter.form %}
      <div class="col">
        {{filter_field.label}}
        {{filter_field}}
      </div>
      {% endfor %}
      <div class="col">
        <button type="submit">Search</button>
      </div>
    </div>
  </form>
  
 <section>
    <h2>All services</h2>
      <div class="section__container">
          <div class="explore-cards">
          {% for service in services_filter.qs %}
            <div class="explore-card">
              <img
                src='{% static "images/sample.jpg" %}'
                alt="shop photo"
                class="shop-photo"
              />
              <h3 class="explore-card-title"> {{service.title}}</h3>
              <p class="explore-card-subtitle">₹ {{service.price}}</p>
              <p class="explore-card-description">{{service.description}}</p>
              <a class="primary-button" href={{service.get_absolute_url}}>Details</a>
              <a class="primary-button" href="/bookings/book/{{service.slug}}/">Book</a>
            </div>
          {% endfor %}
          </div>
      </div>
    </section>

{% endblock content %}
