{% extends "base.html" %} 
{% load crispy_forms_tags %}



{% block pageTitle %}
 <h2>My bookings</h2>
{% endblock pageTitle %} 

{% block content %}
<div class="container mt-5 col-md-8">
    <div class="row">
        {% for booking in object_list %}
        <div class="col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{booking.service_name.title}} </h3>
                    <p class="muted"> You requested at : {{booking.created_at}}</p>
                    <p class="card-text">{{booking.service_name.description}}</p>
                    <a href="#" class="btn btn-danger">Cancel</a>
                    <a href="{{ service.get_absolute_url }}" class="btn btn-secondary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
